/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: digital-7;
    src: url(./font/digital-7.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: lightgrey;
    width: 300px;
    border: ridge 10px #28282B;
}

#prev-display {
    display: flex;
    justify-content: flex-end;
    background-color: #D4D4D2;
    font-size: 1rem;
    color: rgb(66, 65, 65);
    min-height: 50px;
    vertical-align: text-top;
}

#display {
    display: flex;
    justify-content: flex-end;
    background-color: #D4D4D2;
    font-size: 3rem;
    min-height: 50px;
    vertical-align: text-bottom;
    font-family: 'digital-7';
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: #fff;
    border-top: ridge 10px #28282B;
}

.operator {
    background-color: #FF9500;
}

button {
    height: 60px;
    /* background-color: #949493; */
    border-radius: 3px;
    border: 1px solid #28282B;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);

    &:active {
        box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25), -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
        transform: translateY(2px);
    }
}

button:hover {
    background-color: #eaeaea;
}

.operator:hover {
    background-color: #E68600;
}